@import url('https://fonts.googleapis.com/css2?family=Lora&family=Pacifico&display=swap');

*{
      margin: 0; 
      
        padding: 0;
    }
      
    .navbar {
        display: flex;
        position: sticky; 
        align-items: center;
        justify-content: center;
        top: 0px;
        cursor: pointer;
    }
      
    .nav-list {
        width: 50%;
        display: flex;
        font-family: 'Pacifico';
    }
      
    .nav-list li {
        list-style: none;
        padding: 26px 30px;
    }
      
    .nav-list li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
      
    .nav-list li a:hover {
        color: black;
    }
      
    .rightNav {
        width: 50%;
        text-align: right;
    }
      
    #search {
        padding: 8px;
        font-size: 17px;
        border: 2px solid rgb(10, 10, 10);
        border-radius: 25px;
    }
      
    .background {
        background: rgb(225, 225, 225)
    }

    #logo{
        font-size: xx-large;
        padding: 2ch;
        text-align: center;
        font-family: 'Pacifico';
    }

    #lampions img{
   float:left;
   width: 200px;
   height: 145px;
   border: 5px double #494949;
    }

    #Ligne{
        padding: 10% 0;
    }

    #Back{
        background-image: url("image/Marbre.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #lampions{
        flex-direction: row;
        justify-content: space-around;
        display:flex;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #text{
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 5px;
            padding-right: 200px;
            padding-bottom: 2em;
            padding-left: 200px;
            font-family: 'Lora';
         }

    #colonne{
        display:flex;
        justify-content: space-around;
        padding-top: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        font-family: 'Lora';
        gap: 40px;
    }
    footer{
    background-color: grey;
    width: 100%;
    padding: 0px;
    border: 25px solid grey;
    }
